.jumbotron{
	background-color: #ADFFEC;
	color: black;
	margin-top: 50px;
}

footer{
	background-color: #003D46;
	color: white;
	margin-top: 50px;
}

.card-hotel{
	flex: 1 150px;
	margin: 2px 2px 2px 2px;
}

.btn-reserva{
	width: 100%;border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}